@model Mag.DAL.Entities.Stock

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Подробные данные</h1>

<div>
    <h4>Склад</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редактировать</a> |
    <a asp-action="Index">Назад</a>
</div>

<h1>Товары на складе</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Товар</th>
            <th scope="col">Количество</th>
            <th scope="col">Принимал</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var suply in ViewBag.Suplies)
        {
            <tr>
                <th scope="row">@suply.Id</th>
                <td>@suply.Nom.Title</td>
                <td>@suply.Capacity</td>
                <td>@suply.User.UserName</td>
            </tr>
        }
    </tbody>
</table>
